[automationedacontroller]
{{ ansible_fqdn }} ansible_connection=local

[database]

[servicescatalog_workers]

[all:vars]
no_log=false
admin_password='{{admin_password}}'

pg_host=''
pg_port=''

pg_database='automationedacontroller'
pg_username='automationedacontroller'
pg_password='{{ admin_password }}'
pg_sslmode='prefer'  # set to 'verify-full' for client-side enforced SSL

registry_url='registry.redhat.io'
registry_username='{{ redhat_username }}'
registry_password='{{ redhat_password }}'
